.btn-primary {
  background-color: white;
  border: 1px solid #112D4E;
  color: #112D4E;
  padding: 14px 28px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  transition: 0.3 ease;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 22px;
  transition: all .2s ease-in-out;
}

.btn-primary:hover {
  color: white;
  background-color: #112D4E;
}
