.banner {
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 100px;
}

.banner h1 {
  margin-top: 75px;
  margin-bottom: 0;
  color: #112D4E;
  font-size: 40px;
}

.banner p {
  margin: 5px 0;
  font-size: 20px;
}

.container {
  width: 750px;
  margin: auto;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card-category {
  margin: 20 0;
  /* font-family: "Advent Pro", sans-serif; */
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 215px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: .9;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all .2s ease-in-out;
}

.card-category:hover {
  transform: scale(1.1);
}

.card-category h2 {
  /* font-family: "Advent Pro", sans-serif; */
  color: #112D4E;
  font-weight: 700;
  font-size: 20px;
}
